07-bpel/CustomOrderProcess/wsdl/RestaurantService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://restaurant/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://restaurant/">

<xs:element name="getMenu" type="tns:getMenu"></xs:element>

<xs:element name="getMenuResponse" type="tns:getMenuResponse"></xs:element>

<xs:element name="placeOrder" type="tns:placeOrder"></xs:element>

<xs:element name="placeOrderResponse" type="tns:placeOrderResponse"></xs:element>

<xs:complexType name="placeOrder">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="placeOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMenu">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>