07-bpel/Homework1/pay.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PayService"
             targetNamespace="http://payService/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://payService/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://payService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://payService/">
      <xsd:element name="processPayment" type="tns:processPayment"/>
      <xsd:element name="processPaymentResponse" type="tns:processPaymentResponse"/>

      <xsd:complexType name="processPayment">
        <xsd:sequence>
          <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
          <xsd:element name="arg1" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="processPaymentResponse">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <message name="processPaymentRequest">
    <part name="parameters" element="tns:processPayment"/>
  </message>
  <message name="processPaymentResponse">
    <part name="parameters" element="tns:processPaymentResponse"/>
  </message>

  <portType name="PayService">
    <operation name="processPayment">
      <input message="tns:processPaymentRequest"/>
      <output message="tns:processPaymentResponse"/>
    </operation>
  </portType>

  <binding name="PayServiceBinding" type="tns:PayService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="processPayment">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="PayServiceImplService">
    <port name="PayServiceImplPort" binding="tns:PayServiceBinding">
      <soap:address location="http://localhost:8002/PayService"/>
    </port>
  </service>

</definitions>
