03-wsdl/PayService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             xmlns:tns="http://payService/" 
             targetNamespace="http://payService/">

    <types>
        <xs:schema targetNamespace="http://payService/">
            <xs:element name="processPaymentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customer" type="xs:string"/>
                        <xs:element name="amount" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkBalanceRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customer" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkBalanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="balance" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <message name="processPaymentRequest">
        <part name="parameters" element="tns:processPaymentRequest"/>
    </message>
    <message name="processPaymentResponse">
        <part name="parameters" element="tns:processPaymentResponse"/>
    </message>
    <message name="checkBalanceRequest">
        <part name="parameters" element="tns:checkBalanceRequest"/>
    </message>
    <message name="checkBalanceResponse">
        <part name="parameters" element="tns:checkBalanceResponse"/>
    </message>

    <portType name="PayServicePortType">
        <operation name="processPayment">
            <input message="tns:processPaymentRequest"/>
            <output message="tns:processPaymentResponse"/>
        </operation>
        <operation name="checkBalance">
            <input message="tns:checkBalanceRequest"/>
            <output message="tns:checkBalanceResponse"/>
        </operation>
    </portType>

    <binding name="PayServiceBinding" type="tns:PayServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="processPayment">
            <soap:operation soapAction="http://payService/processPayment"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="checkBalance">
            <soap:operation soapAction="http://payService/checkBalance"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <service name="PayService">
        <port name="PayServicePort" binding="tns:PayServiceBinding">
            <soap:address location="http://127.0.0.1:8002/PayService"/>
        </port>
    </service>
</definitions>
