03-wsdl/RestaurantService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             xmlns:tns="http://restaurant/" 
             targetNamespace="http://restaurant/">

    <types>
        <xs:schema targetNamespace="http://restaurant/">
            <xs:element name="getMenuRequest"/>
            <xs:element name="getMenuResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="menu" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="placeOrderRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dish" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="placeOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <message name="getMenuRequest">
        <part name="parameters" element="tns:getMenuRequest"/>
    </message>
    <message name="getMenuResponse">
        <part name="parameters" element="tns:getMenuResponse"/>
    </message>
    <message name="placeOrderRequest">
        <part name="parameters" element="tns:placeOrderRequest"/>
    </message>
    <message name="placeOrderResponse">
        <part name="parameters" element="tns:placeOrderResponse"/>
    </message>

    <portType name="RestaurantServicePortType">
        <operation name="getMenu">
            <input message="tns:getMenuRequest"/>
            <output message="tns:getMenuResponse"/>
        </operation>
        <operation name="placeOrder">
            <input message="tns:placeOrderRequest"/>
            <output message="tns:placeOrderResponse"/>
        </operation>
    </portType>

    <binding name="RestaurantServiceBinding" type="tns:RestaurantServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getMenu">
            <soap:operation soapAction="http://restaurant/getMenu"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="placeOrder">
            <soap:operation soapAction="http://restaurant/placeOrder"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <service name="RestaurantService">
        <port name="RestaurantServicePort" binding="tns:RestaurantServiceBinding">
            <soap:address location="http://127.0.0.1:8001/RestaurantService"/>
        </port>
    </service>
</definitions>